{% extends "base.jinja2" %}
{% block body %}
    <div class="jumbotron">
        <div class="container text-center">
            <img src="http://www.gravatar.com/avatar/0e05cb78a5e6579d26e5777d6055a56d.png" alt="Photo">

            <h2>
                <a href="http://ysaimanojkumar.com"> Sai Manoj Kumar Y </a>
            </h2>

            <h3>
                Developer, Designer, Administrator, Owner
            </h3>
        </div>
    </div>
{% endblock %}
