{% extends "base.jinja2" %}
{% block head %}
    <!-- Custom styles for form -->
    <link href="/assets/css/signin.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs"
            data-app-key="ukgdvk7xk7ck2x8"></script>

    <script type="text/javascript">
        updateprogress = function (progress) {
            var percentprogress = Math.floor(progress * 100);
            var progressbar = $("#progressbar");
            progressbar.attr("aria-valuenow", percentprogress);
            progressbar.attr("style", "width:" + percentprogress + "%");
            $("#progressbar span").html(percentprogress + "% Complete");
            $("#progresspercent").html(percentprogress + "% Complete");

            console.log(percentprogress + "% Complete");
        };

        initprogress = function () {
            updateprogress(0);
            $("#progress").slideDown(2000);
            $("#progresspercent").show();
            $("#done").hide();
            $("#error").hide();
            $("#report").hide();
        };

        save2db = function (fileurl) {
            if (fileurl === "" || typeof fileurl === "undefined" || fileurl == null) {
                return false;
            }
            if (fileurl.indexOf('http://') != 0 && fileurl.indexOf('https://') != 0 && fileurl.indexOf('ftp://') != 0) {
                if (fileurl.indexOf('//') == 0) {
                    fileurl = 'http:' + fileurl;
                }
                if (fileurl.indexOf('://') == -1) {
                    // Adds http:// before the given url if and only if the url does not contain any protocol
                    // information
                    fileurl = 'http://' + fileurl;
                }
            }
            console.log(fileurl);
            options = {
                files: [
                    {'url': fileurl}
                ],
                success: function () {
                    console.log('Download Successful');
                    $("#done").slideDown(3000);
                    setTimeout(function () {
                        $("#progress").slideUp(2000);
                        $("#progresspercent").slideUp(2000);
                    }, 5000);
                    var feedback_url = "/yesnofeedback";
                    var input = {url: fileurl, success: true, msg: 'Download Successful'};
                    $.ajax({
                        type: 'POST',
                        url: feedback_url,
                        contentType: 'application/json',
                        data: JSON.stringify(input),
                        success: function (result) {
                            console.log('Success Feedback sent');
                        }
                    });
                },
                progress: updateprogress,
                cancel: function () {
                    $("#progress").hide();
                    $("#progresspercent").hide();
                },
                error: function (errmsg) {
                    $("#progress").hide();
                    $("#progresspercent").hide();
                    $("#error").slideDown(1000);
                    var feedback_url = "/yesnofeedback";
                    var input = {url: fileurl, success: false, msg: errmsg};
                    $.ajax({
                        type: 'POST',
                        url: feedback_url,
                        contentType: 'application/json',
                        data: JSON.stringify(input),
                        success: function (result) {
                            setTimeout(function () {
                                $('#report').fadeIn(500);
                            }, 0);
                            console.log('The error is reported to the developer of the application');
                        }
                    });
                    console.log(errmsg);
                    console.log('An error occurred while trying to download the file');
                }
            };

            initprogress();

            Dropbox.save(options);
        }

    </script>

{% endblock head %}

{% block body %}


    <div class="container text-center" id="container">

        <h3>
            Save any file over internet to Dropbox with out even downloading it to your computer
        </h3>

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <form id="save-to-db" class="form-signin">
            <label class="sr-only">
                Enter the URL
            </label>
            <input type="text" id="url" class="form-control" placeholder="Enter the URL" name="url" autofocus>
            <button class="btn btn-primary" type="submit">Save to Dropbox</button>
        </form>


        <div class="progress progress-striped active" id="progress" hidden="hidden">
            <div id="progressbar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100" style="width: 0%; "><span class="sr-only">0% Complete </span></div>
        </div>

        <div class="alert alert-info" id="progresspercent" hidden="hidden">
        </div>

        <div id="done" class="alert alert-success" hidden="hidden">
            File is Downloaded Successfully to Your Dropbox
        </div>

        <div id="error" class="alert alert-danger" hidden="hidden">
            An error occurred while trying to download the file
        </div>

        <div id="report" class="alert alert-warning" hidden="hidden">
            The error is reported to the developer of the application
        </div>

    </div>

{% endblock %}

{% block footerjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#save-to-db').submit(function (event) {
                event.preventDefault(); // to stop the form from submitting
                /* Validations go here */
                save2db($.trim($("#url").val()));
            });
        });
    </script>
{% endblock footerjs %}
