{% extends "base.jinja2" %}
{% block head %}
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs"
            data-app-key="ukgdvk7xk7ck2x8"></script>

{% endblock head %}

{% block body %}
    <div class="container text-center">

        <div class="jumbotron">
            <div class="container text-center">
                <h2><a href="/"> URL Dropit </a> -- Drop your download link here to save it in your dropbox</h2>
                {% if not filename %}Download{% else %} {{ filename }}{% endif %}
                <a href="{{ url }}" class="dropbox-saver" {% if filename %}data-filename="{{ filename }}"{% endif %}>
                </a>
            </div>
        </div>

        <div class="row alert alert-success" id="thanks" hidden="hidden">
            Thanks for your feedback
        </div>

        <div id="yesnofeedback" class="alert alert-dismissable alert-info">
            <h2 class="row">Is the download successful?</h2>

            <div class="row">
                <button class="glyphicon glyphicon-check btn btn-lg btn-success" id="yes-btn">
                    Yes
                </button>
                <button class="glyphicon glyphicon-remove btn btn-lg btn-danger" id="no-btn">
                    No
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block footerjs %}
    <script type="text/javascript">
        send_feedback = function (success) {
            var feedback_url = "/yesnofeedback";
            var url = "{{ url }}";
            var input = {url: url, {% if filename %}filename:"{{ filename }}",{% endif %} success: success};
            $.ajax({
                type: 'POST',
                url: feedback_url,
                contentType: 'application/json',
                data: JSON.stringify(input),
                success: function (result) {
                    $('#yesnofeedback').fadeOut(500);
                    setTimeout(function () {
                        $('#thanks').slideDown(500);
                    }, 500);
                    setTimeout(function () {
                        $('#thanks').fadeOut(6000);
                    }, 4000);
                    setTimeout(function () {
                        $('#textfeedback').fadeIn(1000);
                    }, 1000);
                }
            });
        };
        $('#yes-btn').click(function (e) {
            send_feedback(true);
        });
        $('#no-btn').click(function (e) {
            send_feedback(false);
        });
    </script>
{% endblock footerjs %}
